.opening-text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

/* ---------------------- Destination Information */

.destination-title {
    color: #00659f;
    padding-top: 20px;
}

.article-boxed {
    background:#00659f21;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}


.article-destination {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

/* ---------------------- Destination Images */

.img-left, 
.img-right {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

